name: lint text

on:
  pull_request:
    paths:
      - docs/README.md

jobs:
  build:
    name: lint text
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '24'
      - run: npm install
      - name: lint text
        run: npm run lint
