name: lint text

on:
  pull_request:
    paths:
      - docs/README.md

jobs:
  build:
    name: lint text
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '22'
      - run: npm install
      - name: lint text
        run: npm run lint
