name: Validate Renovate Config

on:
  pull_request:
    paths:
      - renovate.json5

jobs:
  validate_renovate_config:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@v2.0.0
