name: Validate Renovate Config

on:
  pull_request:
    paths:
      - renovate.json5

jobs:
  validate_renovate_config:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@v1.1.1
