name: Validate Renovate Config

on:
  pull_request:
    paths:
      - renovate.json5

jobs:
  validate_renovate_config:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@v1.1.1
